.AmitYadav {color:#a19797; font-family:Rockwell Extra ;}
.PROFILE {color: blcak;background:yellow;}
.OBJECTIVES {color: blcak;background:yellow;}
.EDUCATION {color: blcak;background:yellow;}
table{
width: 100%;
}
body{
background:linear-gradient(white 100px, #D689FC, #66E7FA );
}
				
				


 
